html,
body {
  overflow: hidden;
  background-color: #000; /* black background to blend into screen border in case of mismatching aspect ratio */
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
  touch-action: pan-x pan-y;
  width: 100%;
  height: 100%;
}

.page {
  opacity: 0;
  display: none;
}

.calculator-page__output-label {
  color: orange;
}
