html,
body {
  overflow: scroll;
  background: rgb(111, 137, 200);
  background: linear-gradient(90deg, rgba(111, 137, 200, 1) 0%, rgba(75, 129, 208, 1) 43%, #5745fc 100%);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
  touch-action: pan-x pan-y;
  width: 100%;
  height: 100%;
}

.page {
  opacity: 0;
  display: none;
}

.pagejs-button {
  background-color: #F9F9F9;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #1B1B1B;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 40px;
  list-style: none;
  margin: 1px 1px 1px 1px;
  outline: none;
  padding: 10px 16px;
}

.calculator-component__buttons__main-buttons{
  width: 250px;
}

.calculator-component {
  width: 300px;
  margin: 0 auto;
  border: 1px solid lightblue;
}

.calculator-component__output {
  background: transparent;
  border: transparent;
  resize: none;
  color: #000000;
  font-size: 1.5rem;
  text-align: right;
  border: 0px solid lightgray;
  width: 100%;
  height: 30px;

}

.calculator-component__output__previous-operand {
  width: 90%;
}

.calculator-component__output__previous-operation {
  font-size: 1.4rem;
  color: #333333;
}

.calculator-component__output__current-operator {
  text-align: left;
  width: 10%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid__1x2 {
  grid-template-columns: 1fr 1fr;
}